@use 'index' as *;

.header{
  box-sizing: border-box;
  width: 100%;  
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 5%;
  // padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
  transition: opacity 1s  ease;  
  transform: translateY(0);
  transition: transform 0.5s ease-in;
  z-index: 99;
  background-color: #ffffff10;
  &.active {
    background-color: #00000010;
  } 
  &:hover {      
   opacity: 1;
  }
  .time-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;  
    
    .gage{
      width: 100%;
      height: 10px;
      background-color: gray;
      border-radius: 5px;
      .gage-pull{
        border-radius: 5px;
        height: 100%;        
        background: linear-gradient(90deg, #698CA2 , #E1F1B6 ,#A9E9AF , #C5FA6F , #71E1A9);
        transition: width 0.25s;
      }
    }
    #clock{
      font-size: 24px;
      // color: white;
    }
  }
  .h-text{
    font-size: 24px;  
    color: #8DD3FF;
  }
  .h-bt {
    display: flex;
    box-sizing: border-box;
    padding: 0 64px;
    align-items: center;
    justify-content: center;
    gap: 48px;
    .h-bt-a {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
      }      
    }
    #dark-button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      #dark-bt {
        display: flex;
        // display: none;
        width: 100%;
        height: 100%;
      }
      #light-bt {  
        display: none;      
        // display: flex;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
      &.active {
        #dark-bt {
          // display: flex;
          display: none;
        }
        #light-bt {     
          display: flex;
          // display: none;
        }        
      }
    }
  }
  #scrollToTopBtn {
    padding: 8px 16px;
    position: fixed;
    top: 80vh;
    right: 32px;
    font-size: 1rem;
    background-color: #fdfdfd;
    border: none;
    border-radius: 4px;
  }
  &.show{
    transform: translateY(-115px);    
  }
  @media (max-width : 768px) {
    padding: 1rem ;
    .time-area {
      display: none;
    }
    .h-text {
      font-size: 20px ;
    }
    .h-bt {
      padding: 0;
      gap: 32px;
      .h-bt-a {
        width: 32px;
        height: 32px;
      }
    }
  }
}