@use 'index' as *;

// 섹션 공통
.section0 {
    overflow: hidden;
    min-width: 350px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include dark-mode;
    &.light-mode {
        @include light-mode;
    }
    @media (max-width : 768px) {
        padding: 0 32px;
        flex-direction: column;
        justify-content: center;
    }
    .big-font {
       font-size: 128px;
       font-weight: 600; 
       @media (max-width : 1420px) {
        font-size: 48px !important;
       }
    //    @media (max-width : 768px) {
    //     font-size: 32px !important;
    //    }
    }

}
// 섹션 1
.section1 {
    .right-div {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 60px;
        .s1-r {
            padding: 30px;
            background-color: #000;
            color: #fff;
            box-sizing: border-box;
            border-radius: 16px;
            &.s1-r1 {
                font-size: 40px;
                font-weight: 600;
            }
            &.s1-r2 {
                font-size: 28px;                
            }
            @media (max-width : 1420px) {
                padding: 12px;
                border-radius: 8px;
                &.s1-r1 {
                    font-size: 20px;                    
                }
                &.s1-r2 {
                    font-size: 14px;                
                }
            }
            @media (max-width : 768px) {
                &.s1-r1 {
                    font-size: 16px;                    
                }
                &.s1-r2 {
                    font-size: 11px;                
                }
            }
        }        
    }
}
// 섹션 2
.section2 {
    .right-div {
        padding: 0;
        display: flex;        
        height: 500px;
        gap: 64px;
        .s2-r {
            box-sizing: border-box;
            padding: 32px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            border-radius: 32px;
            border:linear-gradient( 45deg , #A5F15E, #A5F15E00 , #A5F15E00 , #A5F15E);            
            background: radial-gradient( #ffffff00 , #ffffff10);
            max-width: 360px;
            min-width: 200px;
            max-height: 500px;
            width: 100%;
            height: 100%;
            position: relative;
            transition: transform 0.25s  ;            
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 3px;
                border-radius: 32px;
                background: linear-gradient(135deg, #A5F15E, #A5F15E00 15%, #A5F15E00 85%, #A5F15E);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask-composite: exclude;
                z-index: 1;
            }
            p {
                margin: 0;
            }
            .s2-r-1 {
                font-size: 24px ;
            }
            ul.s2-r-2 {
                font-weight: 300;
                font-size: 18px;                        
                padding-left: 20px;
                gap: 5px;
                display: flex;
                flex-direction: column;                
                li {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "•";
                        color: #fff;
                        font-size: 30px;
                        top: -9px;
                        left: -20px;
                    }  
                }
                @media (max-width : 1420px) {
                    font-size: 14px;  
                }
                @media (max-width : 768px) {
                    font-size: 12px;  
                }
                             
            }
            @media (max-width : 1420px) {
                gap: 16px;
                padding: 16px;
                border-radius: 16px;
                &::before {
                    border-radius: 16px;
                }
            }
        }
        @media (max-width : 1420px) {
            gap: 32px;
        }
        @media (max-width : 768px) {
            gap: 32px;
            flex-direction: column;
            height: auto;                
                  
        }
    }
}
// 섹션 3
.section3 {      
    .right-div {
        // overflow-y: auto;
        // // overflow-x: hidden;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        min-width: 300px;
        max-width: 1080px;
        width: 100%;        
        gap: 48px;
        .s3-r {
            box-sizing: border-box;
            width: auto !important;
            height: auto !important;
            padding: 32px;
            display: inline-flex;            
            flex-direction: column;
            gap: 32px;
            border-radius: 32px;
            border:linear-gradient( 45deg , #A5F15E, #A5F15E00 , #A5F15E00 , #A5F15E);            
            background: radial-gradient( #ffffff00 , #ffffff10);            
            position: relative;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 3px;
                border-radius: 32px;
                background: linear-gradient(135deg, #C091F2, #C091F200 15%, #C091F200 85%, #C091F2);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask-composite: exclude;
                z-index: 1;
                @media (max-width : 1420px) {
                    border-radius: 16px;
                }
            }
            p {
                margin: 0;
            }
            .s3-r-1 {
                font-size: 24px ;
                @media (max-width : 1420px) {
                    font-size: 16px;                   
                }
            }
            .s3-r-2  {                                                   
                gap: 5px;
                display: inline-flex;
                flex-wrap: wrap;
                p {
                    font-weight: 300;
                    font-size: 20px; 
                    text-wrap: nowrap;
                }                                
                @media (max-width : 1420px) {
                    p {
                        font-size: 14px;  
                    }                    
                }
                             
            }
            @media (max-width : 1420px ) {
                border-radius: 16px;
                padding: 16px !important;
                gap: 16px !important;
            }
            @media (max-width : 768px ) {
                max-width: 50%;
            }
        }
        @media (max-width : 1420px ) {
            gap: 16px;
        }
    }
}
// 섹션 4
.section4 {
    display: inline-flex;
    position: relative;
    overflow: visible;
    height: auto !important;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    .big-font {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
    }
    .s4project {
        box-sizing: border-box;        
        width: 100%;
        height: 100vh;
        display: flex ;
        gap: 8px;
        box-sizing: border-box;
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
        .s4-left-area {
            box-sizing: border-box;
            width: 33%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: gray;
            border: 1px solid #000;
            .s4-img {
                height: 100%;                
            }
        }
        .s4-right-area {
            box-sizing: border-box;    
            width: 67%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 10% 4rem;
            gap: 6%;
            border: 1px solid #000;
            background-color: #ffffff;
            color: #000;
            .right-p {
                font-size: 2rem;
                font-weight: 600;
            }
            .right-p2 {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .p2-1 {
                    font-size: 2rem;
                }
                ul {
                    padding-left: 20px !important;
                    li {
                        position: relative;
                        &::after {
                            content: "*";
                            position: absolute;
                            left: -10px;
                            top : 2px;

                        }
                    }
                }
            }          
        }
        &.scaled {
            transform: scale( 0.7 );
            position: sticky;
            top: 0;
        }
    }

}